In [14]:
import pandas as pd

In [15]:
water_content_in_percentage = pd.Series([20, 21, 22, 23, 24], name="Sparkling JackVase")

In [16]:
df = pd.DataFrame(water_content_in_percentage)

In [17]:
df

   Sparkling JackVase
0                  20
1                  21
2                  22
3                  23
4                  24

In [31]:
df.index = ['0th day', '1st day', '2nd day', '3rd day', '4th day']

In [32]:
df

         Sparkling JackVase
0th day                  20
1st day                  21
2nd day                  22
3rd day                  23
4th day                  24

In [33]:
shining_jackvase = { "Void_ratio": [0.6, 0.5, 0.4, 0.3],
            "Pore_water_pressure": [-1, -2, -3, -4] }

In [34]:
experiment = pd.DataFrame(shining_jackvase)

In [35]:
experiment

   Void_ratio  Pore_water_pressure
0         0.6                   -1
1         0.5                   -2
2         0.4                   -3
3         0.3                   -4

In [43]:
n = pd.Series([45, 43, 42], index=['1st hr', '2nd hr', '3rd hr', ])

In [44]:
C = pd.Series([30, 30, 30], index=['1st hr', '2nd hr', '3rd hr'])

In [45]:
data = { 'porosity': n, 'cohesion': C }

In [46]:
df = pd.DataFrame(data)

In [47]:
df

        porosity  cohesion
1st hr        45        30
2nd hr        43        30
3rd hr        42        30

In [48]:
print("Size :", df.size)
print("Shape :", df.shape)
print("Dimension :", df.ndim)
print("Index Type :", type(df.index))

Size : 6
Shape : (3, 2)
Dimension : 2
Index Type : <class 'pandas.core.indexes.base.Index'>

In [49]:
idx = df.index

In [50]:
print("First element of index :", idx[-1])

First element of index : 3rd hr

In [51]:
print("First two elements of index:", idx[:2])

First two elements of index: Index(['1st hr', '2nd hr'], dtype='object')

In [53]:
Dwelling_Beauty_parameters = {'Parameters': ['Overall Height', 'Maximum Body width', 'Neck Height', 'Mouth Diameter', 'Base Diameter', 'Handle Curvature', 'Phoenix Flow Pattern', 'Colour Luminousity Gradient'], 'Aesthetic value': [100, 61.8, 30.9, 48.6, 61.8, 38.2, 100, 61.8], 
              'Touch Sensitivity': [65, 75, 55, 60, 80, 85, 70, 72], 'Break Sensitivity': [60, 55, 70, 68, 50, 65, 58, 60] }

In [54]:
parameters = pd.DataFrame(Dwelling_Beauty_parameters)

In [55]:
parameters

,Parameters,Aesthetic value,Touch Sensitivity,Break Sensitivity
0,Overall Height,100.0,65,60
1,Maximum Body width,61.8,75,55
2,Neck Height,30.9,55,70
3,Mouth Diameter,48.6,60,68
4,Base Diameter,61.8,80,50
5,Handle Curvature,38.2,85,65
6,Phoenix Flow Pattern,100.0,70,58
7,Colour Luminousity Gradient,61.8,72,60

In [56]:
parameters['Average'] = parameters[['Aesthetic value', 'Touch Sensitivity', 'Break Sensitivity']].mean(axis=1)

In [57]:
parameters

,Parameters,Aesthetic value,Touch Sensitivity,Break Sensitivity,Average
0,Overall Height,100.0,65,60,75.000000
1,Maximum Body width,61.8,75,55,63.933333
2,Neck Height,30.9,55,70,51.966667
3,Mouth Diameter,48.6,60,68,58.866667
4,Base Diameter,61.8,80,50,63.933333
5,Handle Curvature,38.2,85,65,62.733333
6,Phoenix Flow Pattern,100.0,70,58,76.000000
7,Colour Luminousity Gradient,61.8,72,60,64.600000

In [58]:
parameters.T

,0,1,2,3,4,5,6,7
Parameters,Overall Height,Maximum Body width,Neck Height,Mouth Diameter,Base Diameter,Handle Curvature,Phoenix Flow Pattern,Colour Luminousity Gradient
Aesthetic value,100.0,61.8,30.9,48.6,61.8,38.2,100.0,61.8
Touch Sensitivity,65,75,55,60,80,85,70,72
Break Sensitivity,60,55,70,68,50,65,58,60
Average,75.0,63.933333,51.966667,58.866667,63.933333,62.733333,76.0,64.6

In [60]:
third_row = parameters.iloc[2]

In [61]:
third_row

Parameters           Neck Height
Aesthetic value             30.9
Touch Sensitivity             55
Break Sensitivity             70
Average                51.966667
Name: 2, dtype: object

In [62]:
parameters.iloc[:2, :2]

           Parameters  Aesthetic value
0      Overall Height            100.0
1  Maximum Body width             61.8

In [63]:
parameters.loc[:1, ['Parameters', 'Aesthetic value']]

           Parameters  Aesthetic value
0      Overall Height            100.0
1  Maximum Body width             61.8

In [64]:
filtered = parameters['Average']>60

In [65]:
result = parameters[filtered]

In [66]:
result

,Parameters,Aesthetic value,Touch Sensitivity,Break Sensitivity,Average
0,Overall Height,100.0,65,60,75.000000
1,Maximum Body width,61.8,75,55,63.933333
4,Base Diameter,61.8,80,50,63.933333
5,Handle Curvature,38.2,85,65,62.733333
6,Phoenix Flow Pattern,100.0,70,58,76.000000
7,Colour Luminousity Gradient,61.8,72,60,64.600000